
[MESSAGES CONTROL]
# TODO: remove E0402 after https://github.com/flycheck/flycheck/issues/1758 will be fixed.
# TODO: remove E0401 when it become possible to detemine imports from virtual enviroments.
# TODO: remove W0212 when pylint start to correctly determine allowed usage of private members.
# TODO: remove E1136 after pylint implement support for typing metaclasses and start understant typing.Optional[X].
# TODO: remove W0611 after pylint become understand usage of imported modules (only) in annotations.
# TODO: remove E1120 after pylint stop confusing, when decorators change functions arguments specification
#       see https://github.com/PyCQA/pylint/issues/259 for details
# TODO: remove E0611 when pylint will determine current virtual environment and use it
# R1706 give wrong sugestions https://github.com/PyCQA/pylint/issues/2058 and sugest require bool-expressions into if-expressions
disable=E0602,E0402,C0114,C0115,C0116,W0622,R0903,E0401,R0201,W0212,E1136,W0611,W0703,C0413,E1120,E0611,R1706,C0103,W0621,E0213

good-names=i,
           j,
           k,
	   l,
           _,
	   id,
	   to,
	   x,
	   y,
	   z,
	   on,
	   a,
	   b,
	   c,
	   d,
	   e,
	   f

max-line-length=120

max-module-lines=1000

# check only text in comments
spelling-dict=en_US

notes=FIXME

max-args = 10

spelling-ignore-words = noqa,tarantoga,pydantic,deserialize,str,enum,json,serializable,Feedly,pytest,async,preprocess,mixin,precompile,sortedcontainers,url,guid,smth,config,idna,unparsing,configs,reimplemented,mutator,storages,autodiscovery,boolean